.blog{
    margin-top: 140px;
    &__title{
        font-family: 'Gelasio';
        font-style: normal;
        font-weight: 500;
        font-size: 43px;
        line-height: 140%;
        /* or 60px */   
        text-align: center;
        color: #000000;
    }
    &__description{
        max-width: 581px;
        margin: 20px auto 0px auto;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        text-align: center;
        /* or 29px */
        color: #000000;
        opacity: 0.6;
    }
    &__cards{
        display: grid;
        grid-template-columns: 554px auto;
        gap: 30px;
        margin-top: 55px;
    }
    &__card{
        &.main{
            grid-column: 1/2;
            grid-row:1/4;
            img{
                width: 554px;
                height: 397px;
                border-radius: 10px;
            }
            h3,p,a{
                max-width: 470px;
            }
        }
        &.secondary{
            display: grid;
            grid-template-columns: 263px auto;
            gap: 30px;
            img{
                width: 263px;
                height: 201px;
                border-radius: 10px;
            }
        }
        h3{
            max-width: 554px;
            margin-top: 35px;
            font-family: 'Gelasio';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 160%;
            /* identical to box height, or 32px */
            color: #000000;
            word-wrap: break-word;
        }
        p{
            margin-top: 10px;
            max-width: 554px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 160%;
            /* or 29px */
            color: #000000;
            opacity: 0.6;
            word-wrap: break-word;
        }
        a{
            display: block;
            margin-top: 10px;
            max-width: 554px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
            /* identical to box height, or 30px */
            color: #000000;
            word-wrap: break-word;
            &:hover{
                transition: 1s ease;
                color:$main-color;
            }
        }
    }
}