@media(max-width: 1200px){
   .container{
    max-width: 910px;
   }
   .location{
    &__cards{
        justify-content: center;
        gap: 20px 0px;
    }
   }
   .blog{
    &__card.secondary{
        img{
            height: 100%;
        }
        h3{
            margin-top: 0px;
        }
    }
   }
}

@media(max-width: 992px){
    .container{
        max-width: 680px;
    }
}